Checks: >
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -readability-uppercase-literal-suffix,
  -modernize-avoid-c-arrays,
  -performance-no-int-to-ptr

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelCase
  - key: readability-identifier-naming.VariableCase
    value: camelCase
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: modernize-use-default-member-init.UseAssignment
    value: true

WarningsAsErrors: ''
HeaderFilterRegex: '.*\/cpp\/.*'
